<form accept-charset="UTF-8" action="/classrooms" class="nifty_form" id="new_classroom" method="post">
    <div style="display:none">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="rN+eovP8RZN2qGM7HPQwJcu1X2O5LnCJL9GnbMmBL18=">
    </div>
    <hr class="colorgraph">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <input id="classroom_students_id" name="classroom[students_id]" type="text" class="form-control input-lg" placeholder="Id Estudante" tabindex="1">
        </div>
        <div class="form-group">
            <input id="classroom_courses_id" name="classroom[courses_id]" type="text" class="form-control input-lg" placeholder="Id Curso" tabindex="3">
        </div>
        <input class="btn btn-default" name="commit" type="submit" value="Cadastrar">
    </div>
</form>
