<div class="panel panel-success">
    <div class="panel-heading">
        <h1 ng-if="name" align="middle">Novo Estudante</h1>
    </div>
    <div class="panel-body">
<%= render 'form' %>
</div>
</div>