<div class="container-fluid" ng-app="ProfiencyTest" ng-controller="HomeController">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name" align="middle">Profiency Test</h1>
    </div>
    <div class="panel-body">
      <a class="btn btn-default" type="submit" href="students/new">Cadastrar Estudante</a>
      <a class="btn btn-default" type="submit" href="courses/new">Cadastrar Curso</a>
      <a class="btn btn-default" type="submit" href="classrooms/new">Matricular Estudante</a>
      </form>
    </div>
  </div>
</div>